@charset "UTF-8";
:root {
  --green-color: #4d5b44;
  --beige-color: #efefe5;
  --black-color: #262626;
  --grey-color: #b3b3b3;
}

.header {
  padding-top: 20px;
  padding-bottom: 15px;
  background-image: url(../../images/background__img.png);
  background-color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding-bottom: 50px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  color: var(--black-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-right: auto;
}
.header__logo:hover, .header__logo:focus {
  color: var(--green-color);
}

@media screen and (max-width: 768px) {
  .head_nav__box {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .head_nav__box {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .head_nav__box {
    margin-right: 291px;
  }
}

.head_nav__list {
  display: flex;
}
.head_nav__list :not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 1440px) {
  .head_nav__list :not(:last-child) {
    margin-right: 80px;
  }
}

.head_nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--black-color);
  transition: color 0.3s ease, transform 0.3s ease;
}
.head_nav__link:hover, .head_nav__link:focus {
  color: var(--green-color);
  transform: translateY(-2px);
}

.header__social-list {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .header__social-list {
    display: none;
  }
}

.header__social-link {
  display: flex;
  border: 2px solid var(--black-color);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  transition: color 0.3s ease, fill 0.3s ease;
}
.header__social-link:hover, .header__social-link:focus {
  fill: var(--green-color);
  border-color: var(--green-color);
}
.header__social-link:hover .header__social-icon, .header__social-link:focus .header__social-icon {
  color: var(--green-color);
}

.header__social-icon {
  color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  transition: fill 0.3s ease-in-out;
}
.header__social-icon :hover,
.header__social-icon :focus {
  fill: var(--green-color);
}

* {
  box-sizing: border-box;
  line-height: 100%;
  letter-spacing: 0%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

span {
  font-family: "Inter Tight", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blaсk-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Шрифты на бади*/
body {
  font-family: "Inter Tight", sans-serif;
  color: var(--black-color);
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

li {
  list-style: none;
}

button {
  font-family: "Inter Tight";
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.consult-modal-content {
  max-height: 100vh;
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mob-menu_open {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../images/background__img.png);
  background-color: var(--beige-color);
  background-repeat: repeat;
  background-size: auto;
  border: none;
  color: var(--black-color);
  transition: color 0.3s ease;
}
@media screen and (min-width: 768px) {
  .mob-menu_open {
    display: none;
  }
}
.mob-menu_open:hover, .mob-menu_open:focus {
  color: var(--green-color);
}
.mob-menu_open :active {
  color: blue;
}

.hero__btn {
  display: block;
  margin: 0 auto 47px auto;
  width: 231px;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--beige-color);
  background-image: url(../../images/background__img.png);
  background-repeat: repeat;
  background-size: auto;
  background-color: var(--green-color);
  transition: color 0.3s ease, background-color 0.3s ease;
  border: 0;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--black-color);
}
@media screen and (min-width: 768px) {
  .hero__btn {
    margin: 0px;
    width: 250px;
    height: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__btn {
    width: 320px;
    height: 68px;
  }
}

.modal__btn {
  display: block;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--green-color);
  width: 267px;
  height: 51px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  background-image: url(../../images/background__img.png);
  background-color: var(--beige-color);
  background-repeat: repeat;
  background-size: auto;
  margin-bottom: 90px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: 0;
}
.modal__btn:hover, .modal__btn:focus {
  color: var(--beige-color);
  background-color: var(--black-color);
}

.consult__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 173px;
  height: 33px;
  border: 1px solid var(--black-color);
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  background-image: url(../../images/background__img.png);
  background-color: var(--beige-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}
.consult__button:hover, .consult__button:focus {
  color: var(--beige-color);
  background-color: var(--black-color);
}
@media screen and (min-width: 768px) {
  .consult__button {
    margin-right: 0;
    gap: 10px;
    border: none;
  }
  .consult__button:hover, .consult__button:focus {
    transform: translateX(4px);
    color: var(--green-color);
    background-color: var(--beige-color);
  }
}

.guide__btn {
  display: block;
  margin: 0 auto;
  width: 159px;
  height: 30px;
  border: 0;
  background-color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--beige-color);
}
@media screen and (min-width: 1440px) {
  .guide__btn {
    width: 245px;
    height: 47px;
    font-size: 24px;
  }
}
.guide__btn:hover, .guide__btn:focus {
  color: var(--beige-color);
  background-color: var(--green-color);
}

.reserve__btn {
  display: block;
  width: 226px;
  height: 51px;
  gap: 10px;
  border: 0;
  background-color: var(--black-color);
  color: var(--beige-color);
  margin: 0 auto;
  margin-top: 50px;
}
.reserve__btn:hover, .reserve__btn:focus {
  color: var(--beige-color);
  background-color: var(--green-color);
}

.modal-consult__button {
  display: block;
  width: 226px;
  height: 51px;
  gap: 10px;
  border: 0;
  background-color: var(--black-color);
  color: var(--beige-color);
  margin: 0 auto;
  margin-top: 50px;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}
.modal-consult__button:hover, .modal-consult__button:focus {
  color: var(--beige-color);
  background-color: var(--green-color);
}

.hero {
  z-index: 0;
  position: relative;
  overflow: hidden;
  padding-top: 15px;
  background-image: url(../../images/background__img.png);
  background-color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .hero_box__desk {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .hero__info {
    width: 70%;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__info {
    width: 85%;
    margin-bottom: 111px;
  }
}

.hero__title {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 106px;
    margin-bottom: 41px;
  }
}

.hero_epi {
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .hero_epi {
    font-size: 15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .hero_epi {
    font-size: 30px;
    margin-bottom: 60px;
  }
}

.hero__list {
  margin-bottom: 40px;
}
.hero__list :first-child {
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .hero__list {
    width: 547px;
  }
}

.hero__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    font-size: 20px;
    line-height: 26px;
  }
}

.hero_photo__box {
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero_photo__box {
    margin-right: 15px;
    width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 1440px) {
  .hero_photo__box {
    margin-right: 86px;
    height: auto;
  }
}

.hero_decor__box {
  position: absolute;
  width: 621px;
  height: 621px;
  border-radius: 50%;
  background-image: url(../../images/background__img.png);
  background-color: var(--green-color);
  z-index: -1;
  top: 140px;
  right: 0;
}
@media screen and (min-width: 768px) {
  .hero_decor__box {
    width: 700px;
    height: 700px;
    top: 97px;
    left: -405px;
  }
}
@media screen and (min-width: 1440px) {
  .hero_decor__box {
    width: 942px;
    height: 942px;
    left: -425px;
    top: 228px;
  }
}

.hero__photo {
  width: 230.4125823975px;
  height: 315px;
}
@media screen and (min-width: 768px) {
  .hero__photo {
    position: absolute;
    width: 270.413px;
    height: 377px;
    left: 0;
    top: 42px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__photo {
    width: 487.186px;
    height: 690px;
    top: 0px;
    left: -31px;
  }
}

.hero-summary {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--green-color);
  background-image: url(../../images/background__img.png);
}
@media screen and (min-width: 768px) {
  .hero-summary {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-summary {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.hero-summary__text {
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0%;
  color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .hero-summary__text {
    margin-left: 50px;
    font-size: 20px;
    line-height: 29px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-summary__text {
    margin-left: 168px;
    font-size: 40px;
    line-height: 54px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media screen and (min-width: 420px) {
  .container {
    width: 390px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1340px;
  }
}

.hero {
  z-index: 0;
  position: relative;
  overflow: hidden;
  padding-top: 15px;
  background-image: url(../../images/background__img.png);
  background-color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .hero_box__desk {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .hero__info {
    width: 70%;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__info {
    width: 85%;
    margin-bottom: 111px;
  }
}

.hero__title {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 106px;
    margin-bottom: 41px;
  }
}

.hero_epi {
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .hero_epi {
    font-size: 15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .hero_epi {
    font-size: 30px;
    margin-bottom: 60px;
  }
}

.hero__list {
  margin-bottom: 40px;
}
.hero__list :first-child {
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .hero__list {
    width: 547px;
  }
}

.hero__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    font-size: 20px;
    line-height: 26px;
  }
}

.hero_photo__box {
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero_photo__box {
    margin-right: 15px;
    width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 1440px) {
  .hero_photo__box {
    margin-right: 86px;
    height: auto;
  }
}

.hero_decor__box {
  position: absolute;
  width: 621px;
  height: 621px;
  border-radius: 50%;
  background-image: url(../../images/background__img.png);
  background-color: var(--green-color);
  z-index: -1;
  top: 140px;
  right: 0;
}
@media screen and (min-width: 768px) {
  .hero_decor__box {
    width: 700px;
    height: 700px;
    top: 97px;
    left: -405px;
  }
}
@media screen and (min-width: 1440px) {
  .hero_decor__box {
    width: 942px;
    height: 942px;
    left: -425px;
    top: 228px;
  }
}

.hero__photo {
  width: 230.4125823975px;
  height: 315px;
}
@media screen and (min-width: 768px) {
  .hero__photo {
    position: absolute;
    width: 270.413px;
    height: 377px;
    left: 0;
    top: 42px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__photo {
    width: 487.186px;
    height: 690px;
    top: 0px;
    left: -31px;
  }
}

.hero-summary {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--green-color);
  background-image: url(../../images/background__img.png);
}
@media screen and (min-width: 768px) {
  .hero-summary {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-summary {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.hero-summary__text {
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0%;
  color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .hero-summary__text {
    margin-left: 50px;
    font-size: 20px;
    line-height: 29px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-summary__text {
    margin-left: 168px;
    font-size: 40px;
    line-height: 54px;
  }
}

.about_mee__section {
  padding-top: 30px;
  padding-bottom: 60px;
  background-image: url(../../images/background__img.png);
  background-color: var(--beige-color);
}
@media screen and (min-width: 1440px) {
  .about_mee__section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.about_mee_decor {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.about_span {
  font-weight: 900;
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 7px;
}

.mee_span {
  font-weight: 250;
  font-size: 40px;
  line-height: 34px;
  margin-left: 50px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about_info__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .about_info__box {
    padding-left: 85px;
  }
}

.about_list li:nth-child(2) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about_list li:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .about_list {
    margin-right: 20px;
  }
  .about_list li:not(:last-child) {
    margin-bottom: 50px;
  }
}

.about-list__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1%;
}
@media screen and (min-width: 768px) {
  .about-list__text {
    font-size: 15px;
    line-height: 21px;
  }
}
@media screen and (min-width: 1440px) {
  .about-list__text {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0%;
  }
}

.about-list__highlight {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1%;
}
@media screen and (min-width: 1440px) {
  .about-list__highlight {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
  }
}

.about_photo__mob {
  display: block;
  margin: 30px auto;
  width: 210px;
  height: 290px;
}
@media screen and (min-width: 768px) {
  .about_photo__mob {
    display: none;
  }
}

.about_photo__desk {
  display: none;
}
@media screen and (min-width: 768px) {
  .about_photo__desk {
    display: block;
    margin-left: 20px;
    width: 300px;
    height: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .about_photo__desk {
    width: 431px;
    height: 596px;
  }
}

.approach {
  padding-top: 30px;
  padding-bottom: 60px;
  background-image: url("../../images/background__img.png");
  background-color: var(--green-color);
}
@media screen and (min-width: 768px) {
  .approach {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .approach {
    padding-bottom: 199px;
  }
}

.approach__decor {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .approach__decor {
    margin-bottom: 58px;
  }
}

.approach__w--1 {
  color: var(--beige-color);
  font-weight: 900;
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 7px;
}

.approach__w--2 {
  color: var(--beige-color);
  font-weight: 250;
  font-size: 40px;
  line-height: 34px;
  margin-left: 50px;
  text-transform: uppercase;
}

.approach__list {
  border-top: 1px solid var(--beige-color);
  border-bottom: 1px solid var(--beige-color);
}

.approach__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--beige-color);
}
@media screen and (min-width: 768px) {
  .approach__item {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .approach__item {
    padding: 72px 20px;
  }
}

.approach__item:last-child {
  border-bottom: none;
}

.approach_decor__number {
  display: none;
}
@media screen and (min-width: 768px) {
  .approach_decor__number {
    display: block;
    font-weight: 300;
    font-style: italic;
    font-size: 70px;
    line-height: 34px;
    color: var(--beige-color);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .approach_decor__number {
    font-weight: 300;
    font-size: 100px;
    margin-right: 40px;
  }
}

.approach__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: var(--beige-color);
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .approach__subtitle {
    font-size: 20px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .approach__subtitle {
    font-size: 34px;
    line-height: 34px;
  }
}

.approach__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .approach__text {
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 1%;
    max-width: 350px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .approach__text {
    font-weight: 400;
    font-size: 18px;
    max-width: 516px;
  }
}

.consult {
  padding-top: 30px;
  padding-bottom: 60px;
  background-image: url("../../images/background__img.png");
  background-color: var(--beige-color);
}

.consult__decor {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.consult__word--first {
  font-weight: 900;
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 7px;
}

.consult__word--second {
  font-weight: 250;
  font-size: 40px;
  line-height: 34px;
  margin-left: 50px;
  text-transform: uppercase;
}

.consult__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .consult__list {
    flex-direction: row;
    gap: 20px;
  }
}

.consult__item {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 37px;
  width: 360px;
  height: 287px;
  border: 1px solid var(--black-color);
}
@media screen and (min-width: 768px) {
  .consult__item {
    padding: 10px 20px;
    width: 232px;
    height: 233px;
  }
}
@media screen and (min-width: 1440px) {
  .consult__item {
    padding: 40px 57px 40px;
    width: 420px;
    height: 420px;
  }
}

@media screen and (max-width: 768px) {
  .cons_item__green {
    background-image: url("../../images/background__img.png");
    background-color: var(--green-color);
    color: var(--beige-color);
  }
}

.consult_item__desk {
  display: none;
}
@media screen and (min-width: 768px) {
  .consult_item__desk {
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
}

.consult__img {
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.consult__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .consult__title {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .consult__title {
    font-size: 26px;
    line-height: 34px;
  }
}

.consult__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .consult__text {
    text-align: start;
    font-size: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .consult__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.cons_upgrade {
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cons_upgrade {
    text-align: start;
    font-size: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .cons_upgrade {
    font-size: 16px;
    line-height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .consult_more__icon-arrow {
    width: 67px;
    height: 10px;
    fill: currentColor;
    stroke: currentColor;
    transition: transform 0.3s ease;
  }
  .consult_more__icon-arrow:hover, .consult_more__icon-arrow:focus {
    transform: translateX(4px);
  }
}
@media screen and (max-width: 768px) {
  .consult_more__icon-arrow {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .consult_more__icon-arrow {
    width: 67px;
    height: 10px;
    fill: currentColor;
    stroke: currentColor;
    transition: transform 0.3s ease;
  }
  .consult_more__icon-arrow:hover, .consult_more__icon-arrow:focus {
    transform: translateX(4px);
  }
}

/* Контент модалки */
.consult-modal-content {
  max-width: 420px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-out;
  padding: 20px 15px;
  background-image: url("../../images/background__img.png");
  background-repeat: repeat;
  background-color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .consult-modal-content {
    max-width: 100%;
    width: 100%;
    padding: 40px 50px 200px;
  }
}
@media screen and (min-width: 1440px) {
  .consult-modal-content {
    padding: 60px 143px 60px;
  }
}

/* Кнопка закрытия (крестик) */
.modal-close {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.modal-close:hover {
  color: #000;
}

/* Анимация появления */
.modal-consult__decor {
  display: flex;
  flex-direction: column;
}

.modal-consult__word--first {
  font-weight: 900;
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 7px;
}

.modal-consult__word--second {
  font-weight: 250;
  font-size: 40px;
  line-height: 34px;
  margin-left: 50px;
  margin-bottom: 19px;
}

.modal-consult__body {
  padding: 17px 10px 40px;
  border: 1px solid var(--black-color);
}
@media screen and (min-width: 1440px) {
  .modal-consult__body {
    padding: 30px 40px 57px;
  }
}

@media screen and (min-width: 768px) {
  .consult-modal-grid {
    columns: 2;
    gap: 30px;
  }
}

.modal-consult__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .modal-consult__title {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

.modal-consult__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .modal-consult__text {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 34px;
  }
}

.modal-consult__list {
  margin: 0 0 30px 10px;
}

.modal-consult__item {
  list-style: disc;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
@media screen and (min-width: 1440px) {
  .modal-consult__item {
    font-size: 20px;
    line-height: 34px;
  }
}

.modal-consult__info {
  display: flex;
  flex-direction: column;
}

.modal-consult__duration {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .modal-consult__duration {
    font-size: 22px;
  }
}

.modal-consult__price {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .modal-consult__price {
    font-size: 22px;
  }
}

.modal-consult__note {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .modal-consult__note {
    font-size: 22px;
    line-height: 30px;
  }
}

.facts {
  padding-top: 30px;
  padding-bottom: 46px;
  background-image: url("../../images/background__img.png");
  background-color: var(--green-color);
}
@media screen and (min-width: 768px) {
  .facts {
    padding-top: 59px;
    padding-bottom: 100px;
  }
}

.facts__decor {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .facts__decor {
    margin-bottom: 58px;
  }
}

.facts__word--first {
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: var(--beige-color);
  margin-bottom: 15px;
}

.facts__word--second {
  font-weight: 250;
  font-size: 30px;
  line-height: 34px;
  color: var(--beige-color);
  bottom: 35px;
}
@media screen and (min-width: 768px) {
  .facts__word--second {
    margin-left: 50px;
  }
}

.facts__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .facts__subtitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .facts__subtitle {
    font-size: 34px;
  }
}

.facts__index {
  display: none;
}
@media screen and (min-width: 768px) {
  .facts__index {
    display: block;
    font-weight: 300;
    font-size: 30px;
    line-height: 34px;
    color: var(--beige-color);
  }
}
@media screen and (min-width: 1440px) {
  .facts__index {
    font-size: 50px;
    margin-left: auto;
  }
}

.facts__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: var(--beige-color);
}
.facts__text-part {
  display: flex;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: var(--beige-color);
}

.facts__list {
  border-top: 1px solid var(--beige-color);
  border-bottom: 1px solid var(--beige-color);
}

.facts__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--beige-color);
}
@media screen and (min-width: 768px) {
  .facts__item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .facts__item {
    padding: 25px 0px;
  }
}

.facts__item:last-child {
  border-bottom: none;
}

.facts__item {
  margin-bottom: 0px;
}
.facts__item .facts__subtitle {
  margin: 0;
  cursor: pointer;
}
.facts__item .facts__text {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 0.5s ease;
}
.facts__item:hover .facts__text {
  margin-top: 30px;
  max-height: 1000px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .facts__item:hover .facts__text {
    max-width: 60%;
  }
}

.guide {
  padding-top: 50px;
  padding-bottom: 50px;
  border-block-start: 40px;
  background-image: url("../../images/background__img.png");
  background-color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .guide {
    padding-top: 30px;
    border-block-start: 111px;
  }
}
@media screen and (min-width: 1440px) {
  .guide {
    padding-top: 60px;
    padding-bottom: 110px;
  }
}

.guide__decor {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .guide__decor {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .guide__decor {
    margin-bottom: 126px;
  }
}

.guide__word--first {
  font-weight: 900;
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 6px;
}

.guide__word--second {
  font-weight: 250;
  font-size: 40px;
  line-height: 34px;
  margin-left: 50px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .guide__list {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .guide__list {
    gap: 70px;
  }
}

.guide__item {
  padding: 30px 20px 45px 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 266px;
  height: 257px;
  border: 1px solid var(--black-color);
}
@media screen and (min-width: 768px) {
  .guide__item {
    width: 260px;
    height: 197px;
  }
}
@media screen and (min-width: 1440px) {
  .guide__item {
    width: 460px;
    height: 367px;
  }
}

.guide__title {
  display: flex;
  flex-direction: column;
}

.guide__item--free {
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .guide__item--free {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .guide__item--free {
    margin: 0;
  }
}

.guide__title-part--first {
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1440px) {
  .guide__title-part--first {
    font-size: 50px;
    margin-bottom: 25px;
  }
}

.guide__title-part--second {
  text-transform: uppercase;
  font-weight: 250;
  font-size: 30px;
  line-height: 34px;
}
@media screen and (min-width: 1440px) {
  .guide__title-part--second {
    font-size: 50px;
  }
}

.guide__img {
  position: absolute;
  z-index: -1;
  width: 172px;
  height: 172px;
}
@media screen and (min-width: 768px) {
  .guide__img {
    width: 184px;
    height: 162px;
  }
}
@media screen and (min-width: 1440px) {
  .guide__img {
    width: 340px;
    height: 340px;
  }
}

.free__img {
  left: -30%;
}

.paid__img {
  right: -30%;
}

.free {
  margin-left: 124px;
}

.paid {
  margin-left: 60px;
}

.reserve {
  padding-top: 58px;
  padding-bottom: 179px;
  background-image: url("../../images/reserve-back-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

.reserve__decor {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .reserve__decor {
    margin-bottom: 58px;
  }
}

.reserve__word--first {
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: var(--beige-color);
  margin-bottom: 5px;
}
@media screen and (min-width: 1440px) {
  .reserve__word--first {
    font-size: 50px;
  }
}

.reserve__word--second {
  font-weight: 250;
  font-size: 30px;
  line-height: 34px;
  color: var(--beige-color);
  margin-left: 75px;
}
@media screen and (min-width: 768px) {
  .reserve__word--second {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .reserve__word--second {
    font-size: 50px;
  }
}

.reserve__box {
  padding: 60px 10px 57px;
  display: flex;
  background-image: url("../../images/background__img.png");
  background-color: var(--beige-color);
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .reserve__box {
    max-width: 660px;
  }
}

.reserve__form {
  width: 100%;
}

.reserve__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.reserve__input {
  margin: 0;
  width: 100%;
  border: 0;
  background-image: url("../../images/background__img.png");
  background-color: var(--beige-color);
  border-bottom: 1px solid var(--black-color);
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
}
.reserve__input:hover, .reserve__input:focus {
  outline: none;
}

.reserve__lable {
  font-weight: 400;
  font-size: 12px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../images/background__img.png");
  background-color: var(--green-color);
}

.footer__brand {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
  color: var(--beige-color);
}
.footer__brand:hover, .footer__brand:focus {
  color: var(--black-color);
}
@media screen and (min-width: 1440px) {
  .footer__brand {
    font-size: 24px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  color: var(--beige-color);
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 18px;
  }
}
.footer__link:hover, .footer__link:focus {
  color: var(--black-color);
}

.footer__social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.footer__social-link {
  display: flex;
  border: 2px solid var(--beige-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  transition: color 0.3s ease, fill 0.3s ease;
}
.footer__social-link:hover, .footer__social-link:focus {
  fill: var(--black-color);
  border-color: var(--black-color);
}
.footer__social-link:hover .footer__social-icon, .footer__social-link:focus .footer__social-icon {
  color: var(--black-color);
}

.footer__social-icon {
  color: var(--beige-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  fill: currentColor;
  transition: fill 0.3s ease-in-out;
}
.footer__social-icon :hover,
.footer__social-icon :focus {
  fill: var(--black-color);
}

.modal-hero-content {
  background-image: url("../../images/background__img.png");
  background-repeat: repeat;
  background-color: var(--beige-color);
  padding: 100px 40px 50px 40px;
  position: relative;
  max-width: 600px;
  width: 90%;
}
@media screen and (min-width: 420px) {
  .modal-hero-content {
    padding: 100px 40px 50px 40px;
  }
}

.hero-modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  background: none;
  border: 1px solid var(--black-color);
  border-radius: 5%;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.hero-modal-close:hover, .hero-modal-close:focus {
  color: var(--green-color);
  border-color: var(--green-color);
}

.hero__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 420px) {
  .hero__form {
    gap: 1.5rem;
  }
}

.hero__form-field {
  display: flex;
  flex-direction: column;
}

.hero__form-input {
  padding-left: 0;
  background-image: url("../../images/background__img.png");
  background-repeat: repeat;
  background-color: var(--beige-color);
  border: none;
  border-bottom: 1px solid var(--black-color);
}
.hero__form-input:focus {
  outline: none;
  border-bottom: 1px solid var(--black-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.hero__form-btn {
  display: block;
  margin: 20px auto 0px auto;
  width: 200px;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--beige-color);
  background-image: url(../../images/background__img.png);
  background-repeat: repeat;
  background-size: auto;
  background-color: var(--green-color);
  transition: color 0.3s ease, background-color 0.3s ease;
  border: 0;
}
.hero__form-btn:hover, .hero__form-btn:focus {
  background-color: var(--black-color);
}
@media screen and (min-width: 768px) {
  .hero__form-btn {
    margin: 50px auto 0px auto;
    width: 250px;
    height: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__form-btn {
    width: 320px;
    height: 68px;
  }
}

.mobail-modal {
  overflow: hidden;
  padding: 20px 15px 20px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 810px;
  background-image: url(../../images/background__img.png);
  background-repeat: repeat;
  background-size: auto;
  background-color: var(--green-color);
  z-index: 3;
}

.modal__top {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.modal__logo {
  margin-right: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--beige-color);
  transition: color 0.3s ease;
}
.modal__logo:hover, .modal__logo:focus {
  color: var(--black-color);
}
.modal__logo :visited {
  color: var(--beige-color);
}

.btn-menu_close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-image: url(../../images/background__img.png);
  background-color: var(--green-color);
  color: var(--beige-color);
  border: 1px solid var(--beige-color);
  border-radius: 10%;
  transition: color 0.3s ease;
}
.btn-menu_close:hover, .btn-menu_close:focus {
  color: var(--black-color);
  border-color: 1px solid var(--black-color);
}

.icon-close {
  width: 30px;
  height: 30px;
  transition: stroke 0.3s ease;
  stroke: currentColor;
}

.modal__list {
  list-style: none;
  margin-bottom: 90px;
}
.modal__list .modal__item:not(:last-child) {
  margin-bottom: 35px;
}

.modal__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid var(--beige-color);
  transition: color 0.3s ease, background-color 0.3s ease;
  color: currentColor;
  background-color: transparent;
}
.modal__item a {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: var(--beige-color);
  transition: color 0.3s ease;
}
.modal__item .modal__num {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--beige-color);
  transition: color 0.3s ease;
}
.modal__item:hover, .modal__item:focus {
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
}
.modal__item:hover a, .modal__item:focus a {
  color: var(--black-color);
}
.modal__item:hover .modal__num, .modal__item:focus .modal__num {
  color: var(--black-color);
}

.modal_decor__box {
  width: 621px;
  height: 621px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-71%, 17%);
  border-radius: 50%;
  background-color: var(--beige-color);
  mix-blend-mode: screen;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */