.facts {
  padding-top: 30px;
  padding-bottom: 46px;
  background-image: url("../../images/background__img.png");
  background-color: var(--green-color);
  margin-bottom: 35px;
}
.facts__decor {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 58px;
  }
}
.facts__word--first {
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: var(--beige-color);
  margin-bottom: 15px;
}
.facts__word--second {
  font-weight: 250;
  font-size: 30px;
  line-height: 34px;
  color: var(--beige-color);
  bottom: 35px;
}
.facts__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: var(--beige-color);
}
.facts__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: var(--beige-color);
}
.facts__text-part {
  display: flex;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: var(--beige-color);
}
.facts__list {
  border-top: 1px solid var(--beige-color);
  border-bottom: 1px solid var(--beige-color);
}
.facts__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--beige-color);
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    @media screen and (min-width: 1440px) {
      padding: 72px 20px;
    }
  }
}
.facts__item:last-child {
  border-bottom: none;
}
.facts {
  &__item {
    margin-bottom: 0px;

    // Заголовок всегда виден
    & .facts__subtitle {
      margin: 0;
      cursor: pointer;
    }

    // Текст скрыт по умолчанию
    .facts__text {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 1s ease, opacity 0.5s ease;
    }

    // При наведении раскрываем текст
    &:hover {
      .facts__text {
        max-height: 1000px; // достаточно большое значение для любого параграфа
        opacity: 1;
      }
    }
  }
}
