/* Контент модалки */
.consult-modal-content {
  max-width: 420px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-out;
  padding: 20px 15px;
  background-image: url("../../images/background__img.png");
  background-repeat: repeat;
  background-color: var(--beige-color);
  @media screen and (min-width: 1440px) {
    padding: 60px 50px 225px;
    width: 100%;
    max-width: 100%;
  }
}

/* Кнопка закрытия (крестик) */
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.modal-close:hover {
  color: #000;
}

/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-consult__decor {
  display: flex;
  flex-direction: column;
}
.modal-consult__word--first {
  font-weight: 900;
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 7px;
}
.modal-consult__word--second {
  font-weight: 250;
  font-size: 40px;
  line-height: 34px;
  margin-left: 50px;
  margin-bottom: 19px;
}
.modal-consult__body {
  padding: 17px 10px 40px;
  border: 1px solid var(--black-color);
  @media screen and (min-width: 768px) {
    max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.modal-consult__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 20px;
  text-align: center;
}
.modal-consult__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.modal-consult__list {
  margin: 0 0 30px 10px;
}
.modal-consult__item {
  list-style: disc;
  // margin-left: 20px;
  // margin: 0 0 20px 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.modal-consult__info {
  display: flex;
  flex-direction: column;
}
.modal-consult__duration {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}
.modal-consult__price {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}
.modal-consult__note {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}
